#ctheader img {
	height: 100%;
}

.ctform > div {
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
}

.ctform input, .ctform > button, .ctform textarea {
	width: 100%;
	display: block;
	margin: 5px auto;
}

.ctform > button {
	width: calc(100% - 10px);
}

.basicpopup {
	overflow-y: auto;
}

.collapsible {
	overflow: hidden;
	max-height: 3000px;
	transition: max-height 500ms;
}

.collapsed {
	max-height: 40px;
}

.collapsible > .pointer::after {
    content: "^";
    margin: 5px;
    font-size: 125%;
    display: inline-block;
    transform: rotate(180deg);
    transition: transform 500ms;
}

.collapsible.collapsed > .pointer::after {
    transform: rotate(90deg);
}

.ctlist > div:not(.browser_filter) {
	width: 100%;
	overflow-y: auto;
	height: calc(100% - 30px);
}

.ctcontent {
	transition: all 1s;
	background: white;
}

.ctcontent.noside {
	left: 10px;
}

.bottomhalf .ctlist {
	bottom: 30px;
}

.tophalf, .bottomhalf {
	transition: height 1s;
}

.jccenter div, .jccenter a {
    /*width: 20%;*/
    width: 12%;
    padding: 10px;
    border: 1px solid black;
}

.jccenter :nth-child(6), .jccenter :nth-child(7),
.jccenter :nth-child(8), .jccenter :nth-child(9),
.jccenter :nth-child(10) {
	width: 8%;
}

/*.jccenter div:nth-child(7), .jccenter a:nth-child(7),
.jccenter div:nth-child(8), .jccenter a:nth-child(8),
.jccenter div:nth-child(9), .jccenter a:nth-child(9) {
    width: 13%;
}

.jccenter div:nth-child(6), .jccenter a:nth-child(6),
.jccenter div:nth-child(10), .jccenter a:nth-child(10) {
    width: 9%;
}*/

.phist .row > div {
	width: 20%;
	padding: 10px;
	border: 1px solid black;
}

.basicpopup iframe {
	border: none;
	width: 800px;
	height: 730px;
	max-width: 100%;
}

.document_template button {
	display: none;
}