#ctheader img {
	height: 100%;
}

.ctform > div {
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
}

.ctform input, .ctform > button, .ctform textarea {
	width: 100%;
	display: block;
	margin: 5px auto;
}

.ctform > button {
	width: calc(100% - 10px);
}

.ctlist, .basicpopup {
	overflow-y: auto;
}

.ctcontent {
	transition: all 1s;
	background: white;
}

.ctcontent.noside {
	left: 10px;
}